body {
  color:#5E412F;
  background-color: ##FCEBB6;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button:hover {
  background-color: #F07818;
  cursor: pointer;
}

.mainTitle {
  margin-left: 10px;
}
.mainPanel {
  display: inline-block;
  float: left;
  width: 55%;
  overflow: hidden;
}

.eventCard {
  display: inline-block;
  background-color: #F0A830;
  color: #ecf0f1;
  box-shadow: 2px 2px 2px #7f8c8d;
  margin: 10px;
  padding: 10px;
  width: 40%;
  height: 280px;
}

.eventTitle {
  height: 95px;
}

.viewButton {
  background-color: #5E412F;
  box-shadow: 2px 2px 4px black;
  border: none;
  color: #ecf0f1;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.twitter-share-button {
  display: inline-block;
  background-color: #78C0A8;
  border: none;
  box-shadow: 2px 2px 2px #7f8c8d;
  color: #ecf0f1;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 3px;
  width: 20%;
}

.date {
  color:#2c3e50;
  display: inline-block;
  margin-bottom: 0;
  width: 40%;
}

.newEventButton {
  background-color: #78C0A8;
  border: none;
  border-radius: 50%;
  box-shadow: 4px 4px 6px black;
	width: 80px;
	height: 80px;
  color: #ecf0f1;
  font-weight: bolder;
  font-size: 50px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 30px;
  right: 6%;
}
