.featuredPanel {
  display: inline-block;
  float:left;
  width: 40%;
}

.featuredCard {
  background-color: #78C0A8;
  display: inline-block;
  color: white;
  box-shadow: 2px 2px 2px #7f8c8d;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.featuredImage {
  float: left;
  display: inline-block;
  width: 20%
}

.featuredDate {
  display: inline-block;
  margin-left: 10px;
  color: white;
  width: 50%;
}

.featuredTitle {
  color: white;
  display: inline-block;
  margin-left: 10px;
  width: 50%;
}

.featuredLocation {
  font-weight: bold;
  color: white;
  display: inline-block;
  margin-left: 10px;
  width: 50%;
}

.featuredDescription {
  display: inline-block;
  margin-left: 10px;
  color: white;
  width: 60%;
}
