.goBackButton {
  background-color: #78C0A8;
  box-shadow: 2px 2px 2px #7f8c8d;
  border: none;
  color: #ecf0f1;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
}

.leftPanelNew {
  box-shadow: 2px 2px 2px #7f8c8d;
  background-color: #F0A830;
  display: inline-block;
  float: left;
  width: 70%;
  padding: 15px;
  margin-left: 10px;
  overflow: hidden;
}

.rightPanelNew {
  box-shadow: 2px 2px 2px #7f8c8d;
  background-color: #78C0A8;
  display: inline-block;
  float:left;
  padding: 10px;
  width: 20%;
}

.saveEventButton {
  background-color: #78C0A8;
  border: none;
  border-radius: 50%;
  box-shadow: 4px 4px 6px black;
	width: 80px;
	height: 80px;
  color: #ecf0f1;
  font-weight: bolder;
  font-size: 50px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 30px;
  right: 6%;
}

.eventNameInput {
  display: block;
  font-size: 35px;
  margin-bottom: 10px;
  width: 60%;
}

.eventImageInput, .eventLocationInput {
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
  width: 60%;
}

.inputErrorMessage {
  color: red;
  font-weight: bold;
  font-size: 25px;
}

.eventDateInput {
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
  width: 100%;
}

.eventDescriptionInput {
  font-size: 25px;
  width: 60%;
}
