.leftPanelView {
  box-shadow: 2px 2px 2px #7f8c8d;
  background-color: #F0A830;
  display: inline-block;
  float: left;
  width: 70%;
  padding: 15px;
  margin-left: 10px;
  overflow: hidden;
}

.eventNameView {
  color: #FCEBB6;
}

.rightPanelView {
  box-shadow: 2px 2px 2px #7f8c8d;
  background-color: #78C0A8;
  display: inline-block;
  float:left;
  padding: 10px;
  width: 20%;
}

.eventDateView {
  font-weight: bold;
}

.eventDescriptionView {
  font-size: 20px;
  color: white;
  width: 80%;
}

.eventLocationView {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bolder;
}

.eventImageView {
  box-shadow: 2px 2px 2px #7f8c8d;
  width: 100%;
}
